.search-result{
    display: flex;
    justify-content: space-between;
}
.table-header{
    font-size: 1.5rem;

}

div.search-result{
    border: 1px solid #d0d0d0

}

div.search-result:hover{
    border: 1px solid #0f0f0f

}